.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b6c9d7;
    padding: 10px 30px;
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1em;
}

.nav-links a:last-child {
    margin-right: 0;
}

.nav-logo img {
    height: 50px;
    width: auto;
    object-fit: contain;
}